*{
    margin: 0;
    padding: 0;
}

#cadastro{
    font-family: 'Tapestry', cursive;
    margin-left: 400px;
    
    
}

body{
    width: 90%;
    height: 620px;
    margin-left: 6%;
    margin-top: 2%;
    justify-content: center;
    border: solid 2px black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(139, 158, 165);
    border: none;
}


.campo label{
    margin-top: 40px;
    display: block;
    
    
    
}

.campo{
    float: left;
    margin-right: 1em;
}


#text{
    margin-top: 80px;
    padding: 10px;
    margin-left: 280px;
}



#local{
    margin-top: 50px;
    margin-left: 290px;
}

#endereco{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

#habilidade{
    margin-top: 20px;
    margin-left: 250px;
    font-size: 20px;
}

#sexo{
    margin-top: 20px;
    margin-left: 200px;
}

.thabilidade{
    margin-top: 100px;
    margin-left: 150px;
}

.input{
    padding: 20px;
}




input, textarea, select{
    border-radius: 10px;
}

fieldset{
    border: none;
}

.tespaco{
    padding: 10px;
}

.tcampo{
    padding: 10px;
}