@charset "UTF-8";


body{
    background-color: rgb(128, 174, 209);
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.div_fields{
   display: flex;
   margin-left: 70px;
}

.div_imput{
    display: flex;
}

.div_imput input[type="date"]{
    width: 120px;
    height: 20px;
    margin-top: 25px;
    margin-right: 5px;
}

.div_imput p{
    
    margin-top: 28px;
    margin-right: 5px;
}

h1#titulo1{
    margin-left: 500px;
    color: rgba(27, 28, 29, 0.541);
    
    
}

h2#titulo2{
    margin-left: 580px;
    color: rgba(27, 28, 29, 0.541);
}

form{
    margin: 0 auto;
    width: 700px;
    color: rgb(34, 36, 35);
}
.iden{

padding: 20px;
    
}

#nome{
    margin-left: -15px;
    margin-bottom: 10px;
}

#sobrenome{
    margin-left: -20px;
}

#Email{
    margin-left: -15px;
}

#telefone{
    margin-left: -19px;
}

#saida{
    margin-left: 350px;
}

#entrada{
    margin-top: -40px;
    margin-left: 50px;
}


#saida1{
    margin-left: 350px;

}

#entrada1{
    margin-top: -40px;
    margin-left: 50px;
}


#saida2{
    margin-left: 370px;
}

#date{
    width: 100px;
}

#entrada2{
    margin-top: -40px;
    margin-left: 55px;
}

.area{
    margin-left: 100px;
    opacity: 1;
}

#conc{
    margin-left: 85px;
    
}

#are{
    margin-top: 15px;
    margin-left: 100px;
}

.viajar{
    margin-left: 120px;
    margin-bottom: 30px;
}

#aceita{
    margin-bottom: -20px;
}

